<h1>{{title}}</h1>
<nav>
  <ul>
    <li><button class="btn btn-info"><a routerLink="/users">Users</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks">All Tasks</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks/notcompleted">Tasks Not Completed</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks/notstarted">Tasks Not Started</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks/inprogress">Tasks In Progress</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks/complete">Tasks Completed</a></button></li>
 </ul> 
</nav>


<div>
  <router-outlet></router-outlet>
</div>