<h1>{{title}}</h1>
<nav>
  <ul>
    <li><button class="btn btn-info"><a routerLink="/users">Users</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks">All Tasks</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks/notcompleted">Tasks Not Completed</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks/notstarted">Tasks Not Started</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks/inprogress">Tasks In Progress</a></button></li>
    <li><button class="btn btn-info"><a routerLink="/tasks/complete">Tasks Completed</a></button></li>
 </ul> 
</nav>

<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/users">Users</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/tasks">All Tasks
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/tasks/notcompleted">Not Completed</a></li>
            <li><a routerLink="/tasks/notstarted">Not Started</a></li>
            <li><a routerLink="/tasks/inprogress">In Progress</a></li>
            <li><a routerLink="/tasks/complete">Completed</a></li>
          </ul>
        </li> -->
        <!-- <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> -->
      <!-- </ul>
    </div>
  </nav> -->



<div>
  <router-outlet></router-outlet>
</div>